### Imports
---

In [1]:
import pandas as pd
import networkx as nx
from pyvis import network
import matplotlib.pyplot as plt

#utils
from src.utils.dataset import get_dataset

### Dataframe preparation
---

In [2]:
transactions_df = get_dataset().head(1000)

In [3]:
transactions_df.head(2)

   sender  receiver  amount
0    6456      9069  465.05
1    7516      9543  564.64

In [4]:
transactions_df.shape

(100, 3)

In [5]:
relationships_df = transactions_df.groupby(["sender", "receiver"], as_index=False).agg({"amount": ["count", "sum"]})

In [6]:
relationships_df.head(2)

  sender receiver amount
                   count    sum
0     14     2909      1  80.91
1     14     7000      1  80.91

### Network building
---

In [7]:
relationship_network = nx.from_pandas_edgelist(relationships_df, source='sender', target='receiver')

In [13]:
nt = network.Network(width='100%', height='100vh', directed=False)
nt.from_nx(relationship_network)
nt.show('1_pyvis_default.html', notebook=False)

1_pyvis_default.html